<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Suite">
    <test name="API Tests">
        <classes>
            <class name="tests.authentication.LoginTests"/>
            <class name="tests.users.AccountManagementTests"/>
            <class name="tests.users.UserDetailsTests"/>
            <class name="tests.products.ProductListingTests"/>
            <class name="tests.products.ProductSearchTests"/>
            <class name="tests.brands.BrandTests"/>
        </classes>
    </test>
</suite>
